/* Satoshi font */
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Satoshi';
    src: url('/resources/fonts/satoshi/Satoshi-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
/* Integral CF font */
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-regularoblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-mediumoblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-demibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-demiboldoblique.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-boldoblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-extraboldoblique.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Integral CF';
    src: url('/resources/fonts/integral_cf/Fontspring-DEMO-integralcf-heavyoblique.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
